.footer-container-main {
  background-color: var(--primary-col);
  color: var(--secondary-col);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 3rem 0rem;
  gap: 3rem;

  @media (min-width: 576px) {
    grid-template-columns: 1.4fr 1fr;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1.6fr 1fr 1fr;
  }
}

.footer-heading {
  margin-bottom: 24px;
}

.footer-small-text {
  margin-top: 2rem;
  font-size: 12px;
}

.footer-icons {
  gap: 1rem;
  padding-top: 4px;

  svg {
    font-size: 1.8rem;
  }
}

.footer-links {
  list-style: none;
  padding: 0;
  gap: 12px;
  li {
    a {
      text-decoration: none;
      color: var(--secondary-col);
      gap: 4px;
    }
  }
}

// footer contact
.footer-app-image {
  gap: 8px;
  padding-bottom: 1rem;
}
