.m-1 {
    margin: var(--base);
}

.m-2 {
    margin: calc(var(--base) * 2);
}

.m-3 {
    margin: calc(var(--base) * 3);
}

.m-4 {
    margin: calc(var(--base) * 4);
}

.m-5 {
    margin: calc(var(--base) * 5);
}

.mt-1 {
    margin-top: var(--base);
}

.mt-2 {
    margin-top: calc(var(--base) * 2);
}

.mt-3 {
    margin-top: calc(var(--base) * 3);
}

.mt-4 {
    margin-top: calc(var(--base) * 4);
}

.mt-5 {
    margin-top: calc(var(--base) * 5);
}

.mb-1 {
    margin-bottom: var(--base);
}

.mb-2 {
    margin-bottom: calc(var(--base) * 2);
}

.mb-3 {
    margin-bottom: calc(var(--base) * 3);
}

.mb-4 {
    margin-bottom: calc(var(--base) * 4);
}

.mb-5 {
    margin-bottom: calc(var(--base) * 5);
}

.ml-1 {
    margin-left: var(--base);
}

.ml-2 {
    margin-left: calc(var(--base) * 2);
}

.ml-3 {
    margin-left: calc(var(--base) * 3);
}

.ml-4 {
    margin-left: calc(var(--base) * 4);
}

.ml-5 {
    margin-left: calc(var(--base) * 5);
}

.mr-1 {
    margin-right: var(--base);
}

.mr-2 {
    margin-right: calc(var(--base) * 2);
}

.mr-3 {
    margin-right: calc(var(--base) * 3);
}

.mr-4 {
    margin-right: calc(var(--base) * 4);
}

.mr-5 {
    margin-right: calc(var(--base) * 5);
}